TOKEN="TOKEN_HERE" #token obtained in bot control panel
GUILD_ID="GUILD_ID_HERE" #guild (server) id where your bot located. For example: 123456789012345

#Channels will be created automatically if there arent.
#Optional. Default = "files"
META_CHANNEL="filebot-metadata" # name of metadata channel in your discord guild.
#Optional. Default = "meta"
FILES_CHANNEL="filebot-files" # name of files channel on your discord guild.

#Optional. Default = true
#START_WEBDAV=true # starts webdav server. disabling this might be useful for testing or etc. 

#Optional. Default = 3000
#PORT=3000 # webdav server port.

#Optional. Default = false
#ENABLE_HTTPS=false # enables TLS/HTTPS.

#Optional. Default = false
#AUTH=false # enables authentication. if disabled, all users will be able to access files.
#Optional if AUTH = false
#USERS=user:password # if auth is enabled, users in form of user1:pass1,user2:pass2,...

#Optional. Default = false
#ENCRYPT=false # encrypts files using password bellow. 
#Optional if ENCRYPT = false
#ENCRYPT_PASS=123123 # have to be not empty. max 32 chars, empty and not existing chars being filled with 0, rest will be truncated. Maybe will changed later.


# logging into fs
#FILE_LOGGING_ENABLED=1
